VITE_FIREBASE_API_KEY=본인_Firebase_API_키
VITE_FIREBASE_AUTH_DOMAIN=본인_프로젝트ID.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=본인_프로젝트ID
VITE_FIREBASE_STORAGE_BUCKET=본인_프로젝트ID.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=본인_Sender_ID
VITE_FIREBASE_APP_ID=본인_App_ID
